<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sumit's Smoothies</title>
  <link rel="shortcut icon" href="../../public/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <h1><a href="/">Sumit's Smoothies</a></h1>
  </nav>
  