<%- include('partials/header'); -%>

<form>
    <h2>Sign Up</h2>
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
    </div>
    <button>Sign Up</button>
    <div class="error"></div>

</form>

<script>
    const form = document.querySelector('form')
    const errorMsg = document.querySelector('.error')

    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        //clear errors 
        errorMsg.textContent = ''
        //get values
        const name = form.name.value;
        const email = form.email.value;
        const password = form.password.value;

        try {
            const res = await fetch('/signup', {
                method: 'POST',
                body: JSON.stringify({ name, email, password }),
                headers: { 'Content-Type': 'application/json'}
            })
            const data = await res.json()
            if (data.errors) {
                Object.values(data.errors).forEach(error => {
                    errorMsg.textContent += `${error}\n`
                });
                
            }

            if (data.user) {
                location.assign('/')
            }
        } catch (error) {
            console.log(error);
        }
    })
</script>


<%- include('partials/footer'); -%>